<h1>New Listing</h1>

<%= bootstrap_form_with model: @listing, url: listings_path, method: :post, data: { turbo: false } do |form| %>
  <%= form.text_field :name %>
  <%= form.text_area :description %>
  <%= form.check_box :available %>
<% end %>

<p>
  <%= link_to 'Back', listings_path, class: 'btn btn-outline-secondary' %>
</p>

